[submodule "src/main/java/com/javacodegeeks/example/ioutils"]
	path = src/main/java/com/javacodegeeks/example/ioutils
	url = https://github.com/KranthiKR/submodule-test/commit/256c9fad5aa438eea7a6494e09b367e4847379a6#diff-33afee374cf8dbd9b8c4356c3a251bc13d12ed886e0a42134995f92286d3e135
